@font-face {
    font-family: 'Michroma-Regular';
    src: url(../fonts/Michroma-Regular.woff) format('woff'),
        url(../fonts/Michroma-Regular.woff2) format('woff2');
    font-display: fallback;
}