body {
    background: -webkit-gradient(linear, left top, right top, from(#00009c), to(#000));
    background: -webkit-linear-gradient(left, #00009c 0%, #000 100%);
    background: -moz-linear-gradient(left, #00009c 0%, #000 100%);
    background: -o-linear-gradient(left, #00009c 0%, #000 100%);
    background: linear-gradient(90deg, #00009c 0%, #000 100%);
    font-family: Michroma-Regular, sans-serif;
}

.nav-logo-wrap {
    width: 150px;

    .nav-logo {
        width: 100%;
    }
}

.header-social {
    a {
        margin-right: 5px;

        i {
            color: #fff;
        }
    }
}

.content {
    color: aquamarine;
}

.call-anim {
    color: #fff;
    display: inline-block;
    -webkit-animation: call 2s ease 0s infinite normal forwards;
    -moz-animation: call 2s ease 0s infinite normal forwards;
    -o-animation: call 2s ease 0s infinite normal forwards;
    animation: call 2s ease 0s infinite normal forwards;
}

@-webkit-keyframes call {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@-moz-keyframes call {

    0%,
    100% {
        -moz-transform: translateX(0%);
        transform: translateX(0%);
        -moz-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -moz-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -moz-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -moz-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -moz-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -moz-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@-o-keyframes call {

    0%,
    100% {
        -o-transform: translateX(0%);
        transform: translateX(0%);
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -o-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -o-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -o-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -o-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -o-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes call {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        -moz-transform: translateX(-30px) rotate(-6deg);
        -o-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        -moz-transform: translateX(15px) rotate(6deg);
        -o-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        -moz-transform: translateX(-15px) rotate(-3.6deg);
        -o-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        -moz-transform: translateX(9px) rotate(2.4deg);
        -o-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        -moz-transform: translateX(-6px) rotate(-1.2deg);
        -o-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.sidebar {
    color: aquamarine;
    background: -webkit-gradient(linear, right top, left top, from(#00009c), to(#000));
    background: -webkit-linear-gradient(right, #00009c 0%, #000 100%);
    background: -moz-linear-gradient(right, #00009c 0%, #000 100%);
    background: -o-linear-gradient(right, #00009c 0%, #000 100%);
    background: linear-gradient(270deg, #00009c 0%, #000 100%);
}

.card {
    a {
        text-decoration: none;
        color: #000;
    }
}

.slide-text-wrap {
    margin: auto auto;
}

.footer {
    background-color: #000;
    color: #fff;

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            color: #ffd700;
        }
    }

    .copy {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .about-us {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.footer-social {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.rotate {
    -webkit-transition-duration: 1s !important;
    -o-transition-duration: 1s !important;
    -moz-transition-duration: 1s !important;
    transition-duration: 1s !important;

    &:hover {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        font-size: 200%;
    }
}

@media (max-width: 769px) {
    .card {
        img {
            height: 400px;
        }
    }

    .carousel-indicators {
        display: none;
    }

    .footer {
        .about-us {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -moz-box-orient: horizontal;
            -moz-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
        }
    }
}

@media (max-width: 576px) {
    .card {
        img {
            height: 300px;
        }
    }

}